@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>后台管理</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <a class="btn btn-default" href="@Url.Action("List","User")">用户管理</a>
    </div>
</div>